@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    height: 100vh;
    background-color: #232324;
    margin: 0;
    padding: 0;
    width: 100%;
}

p{
    font-family: 'ubuntu', 'sans-serif';
    text-align: center;
}

h1{
    font-family: 'ubuntu', 'sans-serif';
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
    color: darkgoldenrod;

}
